.dog-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #344E41;
  color: white;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #3a5a4d;
}

.card-img-top {
  width: 100%;
  border-radius: 8px;
  height: auto;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 8px;
  //padding: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-remove {
  background-color: #DAD7CD;
  color: black;
}

.btn-remove:hover {
  background-color: black;
}

.btn-edit {
  background-color: #3A5A40;
  color: white;
}

.btn-edit:hover {
  background-color: #2E4833;
}

.btn-book {
  background-color: #A3B18A;
  color: #000;
}

.btn-book:hover {
  background-color: #28362F;
}

.btn-add, .btn-booking {
  background-color: #DAD7CD;
  color: black;
  margin-top: 20px;
  display: flex;
  align-items: left;
  width: 13%;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.btn-add:hover {
  background-color: #344E41;
}

.btn-booking:hover {
  background-color: #344E41;
}


.index-header, .bookings-header, .contact-heading, .greeting-header {
  font-family: 'Roboto', sans-serif;
  color: #361E13;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}
