/* Banner Styling */
.banner {
  background-size: cover;
  background-position: center center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

/* Add the background image with opacity using a pseudo-element */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dvdf3jnet/image/upload/v1734007333/chewy-NVIyVF2Ecp0-unsplash_1_o0sbgt.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  z-index: 1;
}

/* Main Header Styling */
.main-header {
  font-size: 3rem;
  color: #fca311;
  text-align: left;
  z-index: 2;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  margin-right: 30px;
  bottom: 15px;
}


.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #344E41;
  max-width: 600px;
  z-index: 2;
  position: relative;
  margin-left: 20px;
}

/* Container for both services cards */
.services-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

/* Card Styling for Services */
.services-card {
  background-color: #DAD7CD;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  flex: 1;
  min-width: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Services Heading Styling */
.services {
  font-size: 1.5rem;
  color: #344E41;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

/* Paragraph inside each card */
.services-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
