<div class="container">
<h1 class="contact-heading"><strong>Get in touch</strong></h1>

<p class="talk">We'd love to hear from you!</p>

<div class="contact-container">
  <div class="contact-card">
    <h2>Our Address</h2>
    <p><strong>Doggo Headquarters</strong></p>
    <p>Victoria Alfred Waterfront,</p>
    <p>Cape Town</p>

    <h3>Contact Number</h3>
    <p><a href="tel:0218934578">021 893 4578</a></p>
  </div>
</div>
