<div class="container">
<h1 class="greeting-header"><strong>Get in touch</strong></h1>

<p class="talk" style="text-align:center;"><strong>We'd love to hear from you!</strong></p>
    <div class="contact-info">
    <h2 style="font-family:Merriweather">Our Address</h2>
    <p><strong>Doggo Headquarters</strong></p>
    <a href="https://www.google.com/maps?q=Victoria+Alfred+Waterfront+Cape+Town" target="_blank" rel="noopener noreferrer">
  Victoria Alfred Waterfront
</a>
    <p>Cape Town</p>
    <h3 style="font-family:Merriweather">Contact Number</h3>
    <p>021 893 4578</p>
     <p style="text-align:center; margin-top: 50px;"><strong>Get your ticket stamped by us for free parking!</strong></p>
  </div>
</div>
