<h1>Welcome to Doggo!</h1>

<h2><strong>Who are we?</strong>

<div>
<p>We are a team of animal lovers who believe that everyone deserves the
  gift of a dog's presence, companionship and friendship.

  Here at Doggo, we believe everyone deserves this opportunity. Even the ones
  who cannot commit to a full-time role in a dog's life. We know that dogs
  love spending time with their human counterparts, and we cannot wait
  to help you connect with a beautiful soul.
</p>
</div>

<div>
  <h2>Services</h2>

  <p>
    <ul>
      <li>Share your dog with the world by offering them the opportunity to spend
      time with other people. The choice is entirely yours whether you want
      to approve or reject who books your fur baby.</li>
      <li>Book a doggo for the day, week or even month!</li>
    </ul>
</div>
