<section class="banner">
  <h1 class="main-header"><strong>Welcome to Doggo!</strong></h1>
  <div class="description">
    <p><strong>We are a team of animal lovers who believe that everyone deserves the
      gift of a dog's presence, companionship and friendship.

      Here at Doggo, we believe everyone deserves this opportunity. Even the ones
      who cannot commit to a full-time role in a dog's life. We know that dogs
      love spending time with their human counterparts, and we cannot wait
      to help you connect with a beautiful soul.</strong>
    </p>
  </div>
</section>

  <h2 class="services"><strong>Services</strong></h2>

<div class="services-container">
  <div class="services-card">
    <p>Share your doggo with the world by offering them the opportunity to spend
    time with other people.</p>
  </div>

  <div class="services-card">
    <p>Book a doggo for the day, week or even month!</p>
  </div>
</div>
